[submodule "vendor/bundles/FOS/RestBundle"]
	path = vendor/bundles/FOS/RestBundle
	url = git://github.com/FriendsOfSymfony/FOSRestBundle.git
[submodule "vendor/fos/FOS/Rest"]
	path = vendor/fos/FOS/Rest
	url = git://github.com/FriendsOfSymfony/FOSRest.git
[submodule "vendor/bundles/Knp/Bundle/MenuBundle"]
	path = vendor/bundles/Knp/Bundle/MenuBundle
	url = https://github.com/KnpLabs/KnpMenuBundle.git
[submodule "vendor/KnpMenu"]
	path = vendor/KnpMenu
	url = https://github.com/KnpLabs/KnpMenu.git
