{% extends "FlashDefaultBundle::form.html.twig" %}

{% block content %}
<h2>Here is registration form</h2>
<div id='form'>
    <div id='city-list'></div>
    <div id='country-list'></div>
<div>
    
        
    <script type="text/template" id="city-tpl"><%= name %></script>
    
    <script type="text/template" id="country-tpl"><%= name %></script>
    
    <script type="text/template" id="group-tpl"><%= name %></script>
        
    <script type="text/template" id="form-tpl"> 
        <div class="form-register">
        
            <div id='errors'></div>
            <div class="clear-fix">
                <label>Имя:</label>
                <input type="text" id="username" name="username" value="<%= username %>" required />
            </div>
            <div class="clear-fix">
                <label>Email:</label>
                <input type="text" id="email" name="email" />
            </div>
            <div class="clear-fix">
                <label>Cтрана:</label>
                <div class='selector' id="country">
                    <input type="text" id="country-input" readonly placeholder='Выберите страну' />
                    <div class="selector-dropdown"></div>
                </div>
                <input type='hidden' name='country' id='send-country' />
            </div>
            <div class="clear-fix" id='city-block'>
                <label>Город:</label>
                <div class='selector' id='city'>
                    <input type="text" id="city-input" placeholder='Выберите город'/>
                    <div class="selector-dropdown"></div>
                </div>
                <input type='hidden' name='city' id='send-city' />
            </div>
            <div class="clear-fix" id='group-block'>
                <label>Группы:</label>
                <div class='selector' id='group'>
                </div>
            </div>
            <div class="clear-fix">
                <label>О себе:</label>
                <input type="textarea" id="about" name="about"  />
            </div>
            <div class="clear-fix">
                <label>Пароль:</label>
                <input type="text" id="password" name="password"  />
            </div>
            <div>
                <button class='send'>Send</button>
            </div>
        </div>
    </script>


{% endblock %}