{% extends "FlashDefaultBundle::logged.html.twig" %}

{% block title "Inside page" %}

{% block content %}
    <script type="text/template" id="user-event-list-tpl">
        <p><%= date %></p>
        <div class='event'>
        <p class='strong'><%= title %></p>
        <p><%= description %></p>
        </div>
    </script>

    <script type="text/template" id="user-event-tpl">
        <h3>Список событий:</h3>
    </script>
    <h1>Привет <b>{{ name }}</b>! Это твоя персональная страница</h1>
    <div class='sidebar'></div>
    <div class='main-content'>
        <div id='events'></div>
    </div>
{% endblock %}

