{% extends "FlashDefaultBundle::layout.html.twig" %}

{% block title "True " ~ name %}

{% block content %}
<h1>True {{ name }}!</h1>
<div id='preload'>Load, please wait...</div>
<div id='header'></div>
<div id='sidebar'></div>
<div id='main-content'></div>

{% endblock %}
