{% extends "FlashDefaultBundle::layout.html.twig" %}

{% block title "Inside page" %}

{% block content %}


<div class='sidebar'></div>
<div class='main-content'>
        {{ name }}
        <div>
            <div id="manual-fine-uploader"></div>
            <div id="triggerUpload" class="btn btn-primary" style="margin-top: 10px;">
                <i class="icon-upload icon-white"></i> Upload now
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            var manualuploader = new qq.FineUploader({
                element: $('#manual-fine-uploader')[0],
                request: {
                    endpoint: 'logged/rest/api/files',
                    customHeaders: {
                        Accept: 'application/json'
                    }
                },
                sizeLimit: 2000,
                autoUpload: true,
                showButton: false,
                text: {
                    uploadButton: '<i class="icon-plus icon-white"></i> Select Files'
                }
            });

            $('#triggerUpload').click(function() {
                manualuploader.uploadStoredFiles();
            });
        });
        </script>




{% endblock %}

