<div class="form-register">
    <div id='errors'>

    </div>
    <p>
        <label>Name:</label>
        <input type="text" id="username" name="username" required/>
    </p>
    <p>
        <label>Email:</label>
        <input type="text" id="email" name="email" />
    </p>
    <p>
        <label>About:</label>
        <input type="text" id="about" name="about"  />
    </p>
    <p>
        <label>Password:</label>
        <input type="text" id="password" name="password"  />
    </p>
    <div>
        <button class='send'>Send</button>
    </div>
</div>