<div class="form-register">
    
    <div id='errors'></div>
    <div class="clear-fix">
        <label>Имя:</label>
        <input type="text" id="username" name="username" required/>
   </div>
    <div class="clear-fix">
        <label>Email:</label>
        <input type="text" id="email" name="email" />
    </div>
    <div class="clear-fix">
        <label>Cтрана:</label>
        <select id="country" name="country">
        </select>
    </div>
    <div class="clear-fix" id='city-block'>
        <label>Город:</label>
        <div class='selector'>
            <input type="text" id="city-input" placeholder='Выберите город'/>
            <div class="selector-dropdown"></div>
        </div>
        
        <ul id="city">
            <li>Выберите город</li>
        </ul>
        <input type='hidden' name='city' id='send-city' />
    </div>
    <div class="clear-fix">
        <label>О себе:</label>
        <input type="textarea" id="about" name="about"  />
    </div>
    <div class="clear-fix">
        <label>Пароль:</label>
        <input type="text" id="password" name="password"  />
    </div>
    <div>
        <button class='send'>Send</button>
    </div>
    </div>