<div class="form-left-col">
    <p>
        <label>Id:</label>
        <input type="text" id="wineId" name="id" value="<%= id %>" disabled />
    </p>
    <p>
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required/>
    </p>
    <p>
        <label>Grapes:</label>
        <input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>
    </p>
    <p>
        <label>Country:</label>
        <input type="text" id="country" name="country" value="<%= country %>"/>
    </p>
    <p>
        <label>Region:</label>
        <input type="text" id="region" name="region"  value="<%= region %>"/>
    </p>
    <p>
        <label>Year:</label>
        <input type="text" id="year" name="year"  value="<%= year %>"/>
    </p>
</div>
<div class="form-right-col">
    <img height="300" src="pics/<%= picture %>"/>
    <label>Notes:</label>
    <textarea id="description" name="description"><%= description %></textarea>
</div>
<div>
    <button class='save'>Save</button>
    <button class='delete'>Delete</button>
</div>