

root { 
    display: block;
}

.block {
    min-height: 600px;
}

.selector input {
    width: 173px;
}

.error {

}

.navbar-inner ul {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.navbar-inner li {
    float: left;
    padding: 8px 15px;
}

.main-content {
    /*width: 600px;*/
}

.sidebar {
    width: 200px;
    float: left;
    min-height: 400px;
}

#success {
    display: none;
}
.alert-success {
    padding: 15px !important;
}

#form .control-group .help-inline {
    display: none;
    margin-left: 174px;
}

.selected {
    background: #cee5e3;
}

.deselected {
    background: none;
}

.dropdown-menu {
    padding: 5px !important;
    width: 208px;
    left: -186px !important;
}

.event {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    float: left;
    padding: 20px !important;
    text-align: left;
    width: 300px;

}

#ui-datepicker-div {
    width: 150px !important;
}

.ui-datepicker-header {
        background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    float: left;
    padding: 7px 20px !important;
    text-align: left;
    width: 150px;
    display: block;
}

.ui-datepicker-calendar {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    float: left;
    padding: 20px !important;
    text-align: left;
    width: 150px;
    display: block;
}

.main-content {
    float: left;
    padding: 15px;
}


.user-event {
    clear: both;
    margin: 0 0 15px !important;
    overflow: hidden;
    width: 350px;
}

#group-block {
    display: none;
}